@charset "utf-8";
/* CSS Document */

p {height: 80px;
	background: #A40FC5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem calc((100vw - 1300px) / 2);
}